/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/_a11y';
@import '~@angular/cdk/_overlay';

body {
  @include cdk-a11y();
  @include cdk-overlay();

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  height: 100%;
  width: 100%;
  margin: 0;
  display: grid;
}
